@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* make font varibles */

:root{
  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'DM Serif Text', serif;
  --font-tertiary: 'DM Serif Display', serif;
  --font-poppins: 'Poppins', sans-serif;
}

input[type=number] {
  -moz-appearance: textfield;
}

.mdl-textfield:not(.is-dirty) input::-webkit-datetime-edit {
  color: transparent; 
}

input:focus::-webkit-datetime-edit {
 color: rgba(255, 255, 255, .46) !important; 
}

input[type='date']:in-range::-webkit-datetime-edit-year-field,input[type='date']:in-range::-webkit-datetime-edit-month-field,input[type='date']:in-range::-webkit-datetime-edit-day-field,input[type='date']:in-range::-webkit-datetime-edit-text{  color: transparent;}