.main {
  background: #f4f6fc;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding-inline: 10rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.header div:nth-child(2) {
  display: flex;
  gap: 5rem;
}

.header div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.header img {
  height: 25px;
}

.header p {
  font-family: "DM Sans";
}

.header button {
  background: #0e1a45;
  border: none;
  padding: 0.5rem 2rem;
  color: white;
  font-family: var(--font-secondary);
  cursor: pointer;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5rem;
}

.body > img {
  width: 400px;
  margin-left: 10rem;
}

.upper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.upper > div img {
  height: 40px;
}

.upper h5 {
  font-family: var(--font-tertiary);
  color: #47505e;
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 70%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.74px;
}

.bottom {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.card {
  background: #182659;
  padding: 2rem 0rem;
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: center;
}

.card p {
  color: white;
  font-family: "DM Sans";
  margin-top: 2rem;
  font-size: 0.75rem;
}

.card h3 {
  color: white;
  margin-top: 0.75rem;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.46px;
}

.line {
  background: #182659;
  width: 400px;
  height: 4px;
  margin-top: 8rem;
  position: relative;
  left: 100px;
}
